:root {
  --black: #000;
  --black-transparancy: rgba(0, 0, 0, 0.4);
  --white: #fff;
  --logo-color: #f1f3ef;
  --rose: #fca5a5;
  --white-transparancy: rgba(255, 255, 255, 0);
  --green: #498e4c;
  --blue: #4285f4;
  --primary-main: #0e5b1d;
  --primary-complementary: #87b924;
  --gray-gray-100: #f3f4f6;
  --gray-gray-200: #e5e7eb;
  --gray-gray-300: #d1d5db;
  --gray-gray-400: #9ca3af;
  --gray-gray-500: #6b7280;
  --gray-gray-600: #4b5563;
  --gray-gray-700: #374151;
  --gray-gray-800: #1f2937;
  --neutral-neutral-transperency: rgba(229, 229, 229, 0.4);
  --neutral-neutral-50: #fafafa;
  --neutral-neutral-200: #e5e5e5;
  --neutral-neutral-500: #737373;
  --neutral-neutral-600: #525252;
  --neutral-neutral-700: #404040;
  --neutral-neutral-800: #262626;
  --neutral-neutral-900: #171717;
  --error-red-700: #b91c1c;
  --darktheme-bg-color: #292a2a;
  --darktheme-text-color: #fbfdf6;
  --darktheme-main: #387024;
  --darktheme-secondary: #eec700;
  --darktheme-bgsidebar: #333;
  --statemaincolor-hover: #004305;
  --statemaincolor-focusstroke: rgba(14, 91, 29, 0.2);
  --statemaincolor-pressed: #002c00;
  --statecomplementarycolor-hover: #6b9e00;
  --statecomplementarycolor-focusstroke: rgba(135, 185, 36, 0.2);
  --statecomplementarycolor-pressed: #4f8400;
}
