@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

@import-normalize;
:root {
  color-scheme: light dark;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.MuiCircularProgress-colorPrimary {
  color: #0e5b1d !important;
  margin-bottom: 50px;
  margin-top: 50px;
}
.custom-link:hover {
  color: #0e5b1d;
}
.starRating {
  display: none;
}
.star {
  cursor: pointer;
  font-size: 2rem;
  margin: 5px;
}

.rbc-toolbar {
  justify-content: space-between !important;
  margin-bottom: 16px !important;
}

@media screen and (min-width: 1440px) {
  .rbc-toolbar {
    margin-bottom: 40px !important;
  }
}
.rbc-btn-group-arrows {
  width: 68px;
  display: flex;
  justify-content: space-between;
}
.rbc-btn-group-flex {
  display: flex !important;
  align-items: center !important;
  gap: 20px !important;
}
.rbc-btn-group-flex button:focus,
.rbc-btn-group-flex button:hover,
.rbc-btn-group-flex button:active {
  background-color: transparent !important;
  box-shadow: none !important;
}
.rbc-event-label {
  display: none !important;
}
.rbc-time-view {
  border: none !important;
}
.rbc-time-header-gutter,
.rbc-time-gutter {
  width: 143px !important;
}

.rbc-time-gutter .rbc-timeslot-group {
  align-items: flex-start;
}
.rbc-day-slot .rbc-time-slot {
  border: none !important;
}

/* .rbc-event {
  background-color: #60a6fa !important;
  border: none !important;
} */
